body {
  min-height: 100vh;
  padding: 4rem;
  background: linear-gradient(to bottom right, #F7FD04, 50%, #FC5404);
  font-family: "Ubuntu", sans-serif;
}

@media screen and (max-width: 62.5rem) {
  body {
    background: red;
  }
  .header {
    max-width: 32rem;
  }
  .happiness {
    flex-direction: column-reverse;
    height: unset;
    gap: 2rem;
  }
  .happiness .detail__li:nth-child(2) {
    margin-bottom: 2rem;
  }
  .footer {
    max-width: 32rem;
  }
}
@media screen and (max-width: 25rem) {
  body {
    background: green;
  }
}
*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 2rem;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8rem;
  max-width: 150rem;
  padding: 2rem;
  border-bottom: 0.2rem solid #000000;
  margin: 0 auto;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  background: #FFFFFF;
}
.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.header i {
  font-size: 180%;
}

.podcast {
  min-height: calc(100vh - 8rem - 4rem);
  max-width: 150rem;
  padding: 4rem;
  margin: 0 auto;
  display: grid;
  background: #FFFFFF;
  grid-template-columns: 50% 50%;
}
.podcast__section {
  display: flex;
}
.podcast__cards {
  height: 60%;
  width: 100%;
  padding: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
}
.podcast__card {
  width: 50%;
  position: relative;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  font-size: 80%;
}
.podcast__card:hover {
  cursor: pointer;
  transform: scale(1.02);
  transition-duration: 0.2s;
}
.podcast .card__img {
  width: 100%;
  border-radius: 0.8rem;
  border: 0.4rem solid #000000;
  object-fit: cover;
}
.podcast .card__date {
  top: 2rem;
  right: 2rem;
  position: absolute;
  color: #000000;
  background: rgba(255, 255, 255, 0.4);
}
.podcast .card__title {
  bottom: 2rem;
  position: absolute;
  color: #000000;
  background: rgba(255, 255, 255, 0.4);
}
.podcast__detail {
  height: 100%;
  width: 100%;
  padding: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  list-style: none;
}
.podcast__img {
  background-color: yellow;
  width: 100%;
  height: 100%;
  padding: 2rem;
  position: relative;
}
.podcast__image {
  width: 100%;
  height: 50%;
}
.podcast__date {
  top: 2rem;
  right: 2rem;
  position: absolute;
  color: #000000;
  background: rgba(255, 255, 255, 0.4);
}
.podcast__title {
  bottom: 2rem;
  position: absolute;
  color: #000000;
  background: rgba(255, 255, 255, 0.4);
}
.podcast__description {
  width: 100%;
  height: 100%;
  padding: 2rem;
}
.podcast__p {
  color: #000000;
}
.podcast__audio {
  width: 100%;
  height: 100%;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.podcast__button {
  width: 20%;
  height: 100%;
  font-size: 2rem;
  background: #FFFFFF;
  border: 0.5rem solid #000000;
}
.podcast a {
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #000000;
}
.podcast a:hover {
  text-decoration: underline;
  color: #0000ff;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8rem;
  max-width: 150rem;
  padding: 2rem;
  border-top: 0.2rem solid #000000;
  margin: 0 auto;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  background: #FFFFFF;
}
.footer__logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*# sourceMappingURL=style.css.map */
