@use "../../abstracts/colors";
@use "../../abstracts/mixins";
@use "../../abstracts/vars";

.podcast{
    min-height: calc(100vh - 8rem - 4rem);
    max-width: 150rem;
    padding: 4rem;
    margin: 0 auto;
    display: grid;
    background: colors.$white;
    grid-template-columns: 50% 50%;

    &__section{
        display: flex;

        &--left{
        }

        &--right{
            background: blue;
        }
    }

    &__cards{
        height: 70%;
        width: 100%;
        padding: 3rem;
        @include mixins.FlexCenter;
        flex-direction: row;
        flex-wrap: wrap;
        list-style: none;
    }

    &__card{
        width: 50%;
        position: relative;
        padding: 2rem;
        display: flex;
        flex-direction: row;
        font-size: 80%;


        &:hover{
            cursor: pointer;
            transform: scale(1.02);
            transition-duration: 0.2s;
        }
    }

    .card__img{
        object-fit: cover;
        width: 100%;
    }

    .card__date{
        top: 2rem;
        right: 2rem;
        position: absolute;
        color: colors.$black;
        background: rgba(255, 255, 255, 0.4);
    }

    .card__title{
        bottom: 2rem;
        position: absolute;
        color: colors.$black;
        background: rgba(255, 255, 255, 0.4);
    }

    &__img{

    }

    &__image{

    }

    &__date{
        
    }

    &__title{
        
    }

    &__description{
        
    }

    &__p{
        
    }

    audio{

    }

    &__audio{
        
    }

    a{

    }
}