@use "../../abstracts/colors";
@use "../../abstracts/mixins";
@use "../../abstracts/vars";

.footer{
    @include mixins.FlexCenter;
    height: 8rem;
    max-width: 150rem;
    padding: 2rem;
    border-top: 0.2rem solid colors.$black;
    margin: 0 auto;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    background: colors.$white;

    &__logo{
        @include mixins.FlexCenter;
    }
}