@use "../../abstracts/colors";
@use "../../abstracts/mixins";
@use "../../abstracts/vars";

.header{
    @include mixins.FlexCenter;
    height: 8rem;
    width: 100%;
    max-width: 150rem;
    padding: 2rem;
    border-bottom: 0.2rem solid colors.$black;
    margin: 0 auto;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    background: colors.$white;

    &__logo{
        @include mixins.FlexCenter;
        gap: 2rem;
    }

    i{
        font-size: 180%;
    }
}